exportPattern("^[^\\.]")
importFrom("ppclust", "upfc")
importFrom("utils", "head", "tail")
importFrom("graphics", "par", "pairs", "plot", "text")
importFrom("grDevices", "adjustcolor")
importFrom(rmarkdown, render, output_format, html_document)
export(html_pretty)
S3method(plot, outliers)
S3method(print, outliers)
S3method(summary, outliers)