exportPattern("^[^\\.]")
importFrom(ppclust, upfc)
importFrom(utils, head, tail)
importFrom(graphics, par, pairs, plot, text)
importFrom(grDevices, adjustcolor)
S3method(plot, outliers)
S3method(print, outliers)
S3method(pairs, outliers)
S3method(summary, outliers)